{% extends 'base.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

    <a href="{{ path('utilisateur_index') }}">Retourner à la liste</a>
{% endblock %}
